body {
    background-image: url('./GVQNjy1boAA124Z.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 2.5em;
    font-size: 1.6em;
}

h1 {
    background-color: #35b7df75;
    backdrop-filter: blur(10px);
}

section {
    background-color: #35b7df75;
    backdrop-filter: blur(20px);
}

footer {
    background-color: rgba(240, 248, 255, 0.448);
    backdrop-filter: blur(10px);
}
/*note: fk that ai, use section to add backgrond in every p tag
try see other guys work*/

img {
    width: 30vw;
    max-width: 80%;
    object-fit: contain;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2vh;
    width: auto;
    text-align: left;
}

div.text {
    display: flex;
    flex-direction: column;
    align-items: left;
}