table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

body {
    background-image: url('./GVQNjy1boAA124Z.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}

h1 {
    background-color: #35b7df75;
}

section.main {
    background-color: #35b7df75;
}
/*note: fk that ai, use section to add backgrond in every p tag
try see other guys work*/