body {
    background-image: url('./GVQNjy1boAA124Z.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 2.5em;
}

h1 {
    background-color: #35b7df75;
    backdrop-filter: blur(10px);
}

section {
    background-color: #35b7df75;
    backdrop-filter: blur(20px);
}

footer {
    background-color: rgba(240, 248, 255, 0.671);
    backdrop-filter: blur(10px);
}
/*note: fk that ai, use section to add backgrond in every p tag
try see other guys work*/

img.evergreen-pic {
    width: 40vw;
    max-width: 80%;
    max-height: auto;
}

.evergreen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.evergreen p {
    width: 100%;
}

div.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}